@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --fundo-header: #800000;
    --fundo-tema: #570000;
    --fundo-light: #e3e3e3;
    --texto: black;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
}

/* HEADER */
header#header {
    background-color: var(--fundo-header);
    color: white;

    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;

    padding: 1%;
    margin: 0;

    height: 2em;
}

#header a {
    text-decoration: none;
    color: white;
    text-shadow: 4px 4px 4px black;
}

#header a:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

#header #cartLogo {
    background-color: var(--fundo-tema);
    padding: 10px;
    position: absolute;
    right: 4%;
    border-radius: 12px;
}

#cartLogo a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAIN INTRODUÇÃO */
main#intro {
    background-color: var(--fundo-light);

    height: 572px;
    padding: 2%;

    display: flex;
    flex-direction: row;
}

#intro section#textoIntro h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

    font-size: 40px;
}

#intro #textoIntro, #fotoIntro {
    width: 50%;
}

#intro #textoIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#intro #fotoIntro {
    position: relative;
    width: 80%;
    height: 80%;
    right: 0;
    padding: 0;
}

#intro #fotoIntro img {
    width: 100%;
    height: 100%;
}

#textoIntro ul {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

/* CADÁPIO */

section#cardapio {
    text-align: center;
    margin-top: 0;
    padding-bottom: 5%;

    background-color: #570000;
}

#cardapio #cardapioHeader {
    color: white;

    border-bottom: 4px solid var(--fundo-light);
    text-shadow: 4px 4px 4px black;

    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

#produtos {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Define duas colunas de tamanhos iguais */
    gap: 2% 10%; /* Espaçamento entre os itens */
    padding: 2% 25%;
}

#produtos .boxProduto {
    border: solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--fundo-light);
    border-radius: 15px;
    /* width: 100%; */

    box-shadow: 4px 4px 4px rgb(9, 9, 9);
}

.boxProduto .tituloProduto {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
}

.boxProduto img {
    width: 75%;
    height: 75%;
}

.boxProduto .precoProduto {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
    font-size: 24px;
}

.boxProduto .precoProduto input {
    /* height: 8%; */
    border-radius: 25%;
    color: white;
    background-color: var(--fundo-tema);
    font-size: 24px;
}

.boxProduto .precoProduto input:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: transform 0.4s ease;
}

/* LOCALIZAÇÃO */

#localizacao {
    background-color: var(--fundo-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

#localizacao #tituloLoc {
    color: var(--fundo-tema);

    text-shadow: 4px 4px 4px black;

    border-bottom: 4px solid var(--fundo-tema);
    width: 100%;
    text-align: center;

    margin-bottom: 5%;

    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

#localizacao #locInfo {
    background-color: var(--fundo-tema);
    color: white;

    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;

    border-radius: 15px;
    padding: 3%;

    text-align: center;
}

#locInfo a {
    text-decoration: none;
    color: rgb(0, 157, 255);
}

#locInfo a:hover {
    transform: scale(1.8);
    transition: transform 0.4s ease;
}